* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
    color: crimson;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px tomato;
    letter-spacing: 2px;
}

.modal-head {
    color: tomato;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow:scroll; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)
}

tbody tr:nth-child(1){
    display: none;
}

table {
    margin: 0 auto;
}

thead {
    font-weight: bold;
}

.modal-table {
    overflow-x: auto;
}

.modal-table tr {
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 20px;
}

.modal-table td {
    padding: 10px 20px;
    margin: 10px 60px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-bill {
    color: tomato;
    text-align:right;
    font-size: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-content {
    width: 15vw;
    flex-grow: 2;
    /* border: 2px solid black; */
    margin-left: 20px;
}

.table-content:hover {
    cursor: pointer;
}

.quantity {
    width: 50px;
    height: 20px;
}

.modal-footer p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}


.menu-content {
    width: 40vw;
    height: 90vh;
    flex-grow: 10;
    margin-right: 20px;
    /* overflow-y: scroll; */
}

.menu-content:hover {
    cursor: pointer;
}

.table {
    border: 2px;
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 20px;
    border-radius: 20px;
    /* background-color: tomato; */
    color: black;
    /* box-shadow: 5px 8px rgb(245, 193, 193); */
    box-shadow: 20px 20px 50px 10px tomato inset;

}

#table-head {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: tomato;
    letter-spacing: 2px;
}

#search-table {
    padding: 10px 20px;
    margin: 10px 20px;
    width: 15vw;
    font-size: 20px;
    border: 2px solid crimson;
    border-radius: 50px;
}

#menu-head {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color:tomato;
    letter-spacing: 2px;
}

#search-menu {
    padding: 10px 20px;
    margin: 10px 20px;
    width: 30vw;
    font-size: 20px;
    border: 2px solid crimson;
    border-radius: 50px;
}


.menu {
    border: 2px solid tomato;
    box-shadow: 4px 8px rgb(245, 132, 132);
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 20px;
    border-radius: 15px;

    color: black;
}

.menu p {
    color: coral;
}

.menu h2 {
    color: rgb(59, 53, 53)
}


/* ========================= RESPONSIVE CODE ======================================= */

@media only screen and (max-width: 1024px){
    #search-menu {
        width: 40vw;
    }
}
@media only screen and (max-width: 800px){
    .main-content {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .table-content {
        width: 70vw;
        border: none;
        margin: 0 auto;
    }
    .menu-content {
        width: 90vw;
        height: 80vh;
        margin: 0 auto;
    }
    #search-table {
        width: 60vw;
    }
    
    #search-menu {
        width: 70vw;
    }
}

@media only screen and (max-width: 500px){
    .table-content {
        width: 80vw;
        margin: 0 auto;
    }
    .menu-content {
        width: 90vw;
        height: 80vh;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 375px){
    .table-content {
        width: 90vw;
        margin: 0 auto;
    }
    .menu-content {
        width: 95vw;
        height: 80vh;
        margin: 0 auto;
    }
}
